@model SignalRWebUI.DTOs.ContactDto.UpdateContactDto

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
	<h4 class="page-title">Forms</h4>
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Update About</div>
					</div>
					<div class="card-body">
						<input type="hidden" asp-for="ContactId" />
							<div class="form-group">
								<label for="categoryname">Location</label>
								<input type="text" class="form-control" id="categoryname" asp-for="Location">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Mail</label>
								<input type="text" class="form-control" id="categoryname" asp-for="Mail">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Phone</label>
								<input type="text" class="form-control" id="categoryname" asp-for="Phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Footer Description</label>
								<input type="text" class="form-control" id="categoryname" asp-for="FooterDescription">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Opening Hours</label>
								<input type="text" class="form-control" id="categoryname" asp-for="OpeningHours">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Opening Days</label>
								<input type="text" class="form-control" id="categoryname" asp-for="OpeningDays">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Add</button>
						</div>
				</div>
			</form>
		</div>
	</div>
</div>

