
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_AHeader")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_ANavbar")
        @await Component.InvokeAsync("_ASidebar")
        
        <div class="main-panel">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    </div>
</body>
@await Component.InvokeAsync("_AScript")
</html>



